@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #88C0D0; /* Nord Frost */
  --fg-100: #ECEFF4; /* Nord Snow Storm */
  --fg-200: #D8DEE9; /* Slightly dimmer Snow Storm */
  --bg-100: #2E3440; /* Nord Polar Night */
  --bg-200: #3B4252; /* Polar Night accent */
  --accent: #81A1C1; /* Nord Frost */
  --accent-hover: #5E81AC; /* Nord Frost */
  --error: #BF616A; /* Nord Aurora Red */
  --success: #A3BE8C; /* Nord Aurora Green */
  --warning: #EBCB8B; /* Nord Aurora Yellow */
  --info: #88C0D0; /* Nord Frost */
  --info-hover: #5E81AC; /* Nord Frost */

}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: 'Roboto Mono', monospace;
  color: var(--fg-100);
  background-color: var(--bg-100);
}

button {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  opacity: 0.4;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}