:root {
  --error: #BF616A; /* Nord Aurora Red */
  --success: #A3BE8C; /* Nord Aurora Green */
  --warning: #EBCB8B; /* Nord Aurora Yellow */
  --info: #88C0D0; /* Nord Frost */
  --info-hover: #5E81AC; /* Nord Frost */

}