:root {
    --primary: #007acc;
    --fg-100: #ffffff;
    --fg-200: #dcdcdc;
    --bg-100: #1e1e1e;
    --bg-200: #252526;
    --bg-300: #2d2d30;
    --accent: #007acc;
    --accent-hover: #005f99;
    --error: #f44747;
    --success: #4ec9b0;
    --warning: #ff8800;
    --info: #569cd6;
    --info-hover: #4078c0;
    --light-text: #c0c6ce;
}
